extends layout.pug
 
block variables
    - let title = 'Administration';
 
block content
    h1 Bienvenue dans l'espace d'administration
    a(href="/write").button Publier un nouvel article
    p Cet espace vous permet de gérer et administrer les articles présents sur votre blog !
    table
        tr
            th #
            th Date de publication
            th Titre
            th Auteur
            th Catégorie
            th Action
        each article in articles
            tr
                td=article.id
                td=article.dateCreated
                td=article.title
                td=article.author.name
                td=article.category.title
                td 
                    a(href="/edit/"+article.id) Modifier 
                    a(href="/write") Supprimer